* {
  box-sizing: border-box;
}

body {
  background: url("/bg-pattern.png") repeat scroll;
  background-color: #292933;
  font-family: 'PT Sans', sans-serif;
  color: #EEFFFF;
  max-width: 100%;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}
/* Laptops */
@media only screen and (max-width: 1024px) {
  .container {
    width: 748px;
    margin: 0 auto;
  }
}
/* Tablets */
@media only screen and (max-width: 768px) {
  .container {
    width: 440px;
    margin: 0 auto;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
    margin: 0  auto;
  }
}


h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 100px;
}

.hero {
  min-width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img {
  width: 20em;
  
}