* {
  box-sizing: border-box;
}

body {
  background-color: #272742;
  font-family: 'PT Sans', sans-serif;
  color: #EEFFFF;
  max-width: 100%;
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
}

/* Laptops */
@media only screen and (max-width: 1024px) {
  .container {
    width: 748px;
    margin: 0 auto;
  }
}

/* Tablets */
@media only screen and (max-width: 768px) {
  .container {
    width: 440px;
    margin: 0 auto;
  }
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
}

.container.center {
  text-align: center;
}

.background-dark {
  background-color: #08141e;
}

h1 {
  font-size: 36px;
  margin-bottom: 45px;
  margin-top: 100px;
}

footer {
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

footer .content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
  justify-content : space-around;
  padding: 8px;
}

.content .copy {
  font-size: 11px;
}

.hero {
  height: 150px;
  max-height: 150px;
  min-height: 50px;
  background-size: cover;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 3px 3px #0000009c;
}

.hero-content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  height: 100%;
}

footer::before,
.hero::before {
  content: "";
  background-size: cover;
  background: url('/bg-pattern.png') repeat fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
  z-index: 0;
  pointer-events: none;
}

.button {
  text-decoration: none;
  color: #EEFFFF;
  min-width: 75px;
  height: 45px;
  border: 1px solid #EEFFFF;
  text-align: center;
  line-height: 45px;
  border-radius: 5px;
  font-size: 18px;
  margin: 15px;
  padding: 8px 16px;
  transition: all .3s;
}

.button:hover {
  background-color: #EEFFFF;
  color: #272742;
}

.feature {
  min-width: 100%;
  min-height : 250px;
}

.feature.space-bg {
  background-color: black;
  position: relative;
  z-index: -1;
  padding: 1px;
}

.space-bg::before{
  content: "";
  position: absolute;
  background: url('/SpaceDustTiling.png') repeat fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}

.space-bg::after{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100%;
  background: url('/AsteroidWallHuge.png') repeat-x bottom;
  z-index: -1;
  pointer-events: none;
}

figure {
  margin: 0;
  padding: 0; /* reset */
}

figure img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%; /* just in case? not nessesary */
}

.logo {
  max-height: 100%;
}

.logo img {
  width: auto;
  height: 100%;
  margin: auto;
}